*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #7469a1;
}
.loginDiv{
  display: flex;
  align-items: center;
  justify-self: flex-end;
  justify-content: space-evenly;
}
.loginDiv a{
  text-decoration: none;

}
form {
  margin-top: 10rem;
  height: 660px;
  width: 529px;
  background: linear-gradient(142.18deg, #508af9 0%, #f14ccd 98.85%);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 73px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #020202;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgb(255 255 255 / 44%);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 1.2rem;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
